/*Reset*/
.well {margin-bottom:10px;}
.pagination {margin:0;}
.pagination a {margin-bottom:0 !important;}
.filter-link-list a {display:inline-block; margin-right:5px; line-height:2;}
.help-inline {line-height:35px;}
.page-header {margin-top:5px;}
.intro {font-size:15px;}
.input-append .active, 
.input-prepend .active {background:inherit;}

.admin-box {position:relative;}
.admin-box .form-buttons {position:absolute; right:0; top:5px;}
.text-center {text-align:center !important;}
.subtab .nav-tabs {border-right:none; border-left:none; border-top:none; background:none; padding:0 5px;}
.subtab .nav-tabs > li,
.subtab .nav-tabs > li:focus {border-right:1px solid #C4C4C4; border-left:1px solid #C4C4C4; border-top:1px solid #C4C4C4; margin-right:3px; background:-moz-linear-gradient(center top , #FFFFFF 1%, #F3F3F3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.subtab .nav-tabs > li a {line-height:15px;}
.subtab .tab-content {padding:15px 0; border:none; background:inherit;}
.accordion-heading .accordion-toggle {font-weight:bold; color:#666;}
.accordion-heading .accordion-toggle:hover,
.accordion-heading .accordion-toggle:focus {text-decoration: none;}
.accordion-inner.morePadding {padding:15px;}
div.checker {margin-top:5px;}

/*From Other*/
.sorting-indicator {background-image: url("images/sort.gif"); background-repeat: no-repeat; display: none; height: 4px; margin-left: 7px; margin-top: 8px; width: 7px;}
th.sortable a, 
th.sorted a {display: block; overflow: hidden;}
th.sortable a span, 
th.sorted a span {cursor: pointer; float: left; color:#353535;}
th.sorted.asc .sorting-indicator, th.desc:hover span.sorting-indicator {background-position: 0 0; display: block;}
th.sorted.desc .sorting-indicator, th.asc:hover span.sorting-indicator {background-position: -7px 0; display: block;}

.note-list {list-style:none; margin:0;}
.note-list li {border-top:1px solid #eee; padding:5px;}
.separator {color:#ddd; padding:0 5px;}
#loading-mask {color: #D85909; font-size: 1.1em; font-weight: bold; opacity: 0.8; position: absolute; text-align: center; z-index: 500; display:none;}
#loading-mask .loader {background: none repeat scroll 0 0 #FFF4E9; border: 2px solid #F1AF73; color: #D85909; font-weight: bold; left: 50%; margin-left: -105px; padding: 15px 30px; position: fixed; text-align: center; top: 45%; width: 150px; z-index: 1000;}

/*Base*/
.hidden-forever {display:none !important;}
.vtop {vertical-align: top;}
.noLeftMargin {margin-left:0 !important;}
.noBottomMargin {margin-bottom:0 !important;}
.noTopMargin {margin-top:0 !important;}
.autowidth {width:auto;}
.wd95 {width:95%;}
.wd100px {width:100px;}
.wd50px {width:50px;}
.wd30px {width:30px;}
.left-sub-menu {margin-top:40px;}
.lrborder {border-left:1px solid #C4C4C4; border-right:1px solid #C4C4C4;}
.cursor {cursor:pointer;}

.form-actions.lrborder {border-color:#E5E5E5; border-radius:2px;}
table.lrborder td {vertical-align: middle;}
table.lrborder tfoot tr {border-bottom:1px solid #C4C4C4;}
table.topTab th {border-top:none !important;}
td.error input {border-color:#B94A48 !important; box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;}
th span.required {color:red;}
table.classic {width:100%;}
table.classic td {padding:8px; font-size:15px;}
table.classic2 td {padding:3px 0; font-size:14px; vertical-align:top;}
table.classic2 td a {font-size:14px;}
td span.lbl {display:block; float:left !important; line-height:25px;}
td input.right {float:right;}
td hr {height:3px; border:none; margin:0;}

.body-content .messages-area [class*="span"] {min-height:1px;}
.admin-box form {margin-bottom:5px;}
.form-row.error label, 
.form-row.error .help-block, 
.form-row.error .help-inline {color:#B94A48;}
.form-row.error.error input, 
.form-row.error.error select, 
.form-row.error.error textarea {color:#B94A48; border-color:#B94A48;}
.form-inline div.selector {width:auto !important;}
.form-horizontal .control-label .required,
.form-horizontal .form-label .required {color:red;}
.tab-content.nostyle {overflow: inherit;}
.order-total {background:url("images/patterns/1.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}

/*New*/
#phpinfo h1 {font-size:25px; margin-bottom:0; text-align:left; padding-left:10px;}
#phpinfo h2 {font-size:20px; margin-bottom:0; text-align:left; padding-left:10px;}
#image_table td,
#option_table td {vertical-align: middle;}
#tree_content {width:250px; float:left;}
#tree_content .dynatree-container {min-height:400px;}
#tree_form {margin-left:270px; overflow: auto;}

form span.image {display:block;}
.w120_h60 {width:120px; height:60px;}
.w100_h80 {width:100px; height:80px;}
.w60_h60 {width:60px; height:60px;}
.imgwrapper {position: relative; display:inline-block;}
.imgwrapper span.remove {position:absolute; top:-10px; right:-6px; cursor:pointer;}