/* responsive style */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px){ 
	html {-webkit-text-size-adjust:none;}
}

/*
	* -------------------------------------------------------------------------------------------
	* All devices
	* -------------------------------------------------------------------------------------------


@media only screen and (max-width: 1800px){
	.main_wrap { width:1700px; }
}
@media only screen and (max-width: 1700px){
	.main_wrap { width:1600px; }
}
@media only screen and (max-width: 1600px){
	.main_wrap { width:1400px; }
}
@media only screen and (max-width: 1540px){
	.main_wrap { width:1300px; }
}

@media only screen and (max-width: 1000px){
	.main_wrap { width:700px; }
}

@media only screen and (max-width: 959px){
}

@media only screen and (min-width: 768px) and (max-width: 959px){
}*/

@media only screen and (max-width: 1730px){
	.contact_detail .ph_detail { font-size: 38px; }
}
@media only screen and (max-width: 1610px){
	/* GRID STYLE */
	.product_detail .p1_price span { font-size:19px; margin-left:4px; margin-top:9px; }
	.item .product_detail .p1_price { width:54%; height:45px; }
	.product_detail .p2_price { width:46%; }
	.product_detail .p1_price a.view_btn { width:63px; padding:6px 0; margin-right:8px; margin-top:6px; }
	.product_detail .p2_price table { margin-top:1px; }
	.product_detail .p2_price td { font-size:12px; }
	.right_menu { width:2.8%; right:0.1%; }
}
@media only screen and (max-width: 1550px){
	.contact_detail .ph_detail { font-size:32px; }
	.contact_detail .ph_detail span { font-size:19px; }
	.contact_detail .xian { font-size:26px;	}
	.top_product .detail .price span { font-size:28px; margin-top:18px; }
	.p_time span { font-size:17px; }
	.p_time div { margin-left:5%; }
	.detail .p_goucount { font-size:20px; }
	.detail .p_goutext span, .p_price div, .p_price div span, .contact_detail p { font-size:15px; }
	.detail .sub_desc { font-size:20px; }
	.top_contact .contact_detail { margin:15px auto; }
	.side .ping, .side .ping a, .side .gengduo a, .s_con ul li a { font-size:13px; }
	.top_product .detail .price { width:72%; }
	.top_product .detail .subdetail { width:61%; }
	.top_product .p_desc { font-size:26px; }
	.yuan_price { font-size:14px !important; }
	.item .product_title { font-size:13px; }
	.nav .sub_nav > ul > li { padding:20px 0; }
	.nav .sub_nav > ul > li:hover { padding:19px 5%; }
	.nav .sub_nav > ul > li:first-child { padding-top: 19px; }
	.nav .sub_nav > ul > li:last-child { padding-bottom: 19px; }
    .sub_cats div.brand li { padding:5px 7px 0 0; }
    .sub_cats div.brand li { padding:5px 7px 0 0; }
}
@media only screen and (max-width: 1380px){
	.contact_detail .ph_detail { line-height:28px; font-size:27px; background-size:21%; padding-left:60px; margin-bottom:6px; }
	.m_header .logo a img { width:89%; margin-left:4%; }
	.header .m_header .logo { margin-top:11px; }
	.top_product .p_thumb img { width:90%; }
    .top_product .p_thumb { margin-bottom:16px; }
	.detail .sub_desc { font-size:16px; line-height:27px; margin-bottom:15px; padding:10px 8%; }
	.p_time span { font-size:16px; }
	.detail .p_goucount { font-size:19px; }
	
	.right_menu { width:40px; right:5px; }
	
	/* GRID STYLE */
	.grid li { width: 48%; padding:1%; }
	.product_detail .p1_price span { font-size:22px; margin-left:6px; margin-top:10px; }
	.item .product_detail .p1_price { width:52%; height:50px; }
	.product_detail .p2_price { width:48%; }
	.product_detail .p1_price a.view_btn { width:70px; padding:8px 0; margin-right:10px; margin-top:7px; }
	.product_detail .p2_price table { margin-top:3px; }
	.product_detail .p2_price td { font-size:13px; }
}
@media only screen and (max-width: 1290px){
	.header .top_header, .header .m_header, .header .nav, .wrap { padding:0 2%; }
}
/*
@media only screen and (max-width: 1280px){
	.header .cartarea .cartbtn a { padding:13px 2px 13px 70px; font-size:18px; }
	.header .cartarea .cartbtn { margin-left:0; height:47px; width:142px; }
	.header .cartarea .carttext { margin-left:0; width:144px; }
	.header .cartarea .cartnum { left:25px; }
	.header .m_header .searchbar { width:50%; }
}
*/