/**
	@filename : style.css
	@content  : defined styles for shopping site
**/

html, body {
	background-color: white;
	padding: 0;
	margin: 0;
	font-family: "Tohama", "Arial","Hiragino Sans GB","宋体";
}
a {
	-webkit-transition: all 0.3s linear 0s;
	   -moz-transition: all 0.3s linear 0s;
		 -o-transition: all 0.3s linear 0s;
		    transition: all 0.3s linear 0s;
}

/* common style */
.main_color { color: #c70045; }
.main_bgcolor {	background-color: #c70045; }
.main_bordercolor {	border-color: #c70045; }
.sub_color { color: #ff98bc; }
.sub_bgcolor { background-color: #ff98bc; }
.sub_bordercolor { border-color: #ff98bc; }
.clear { clear: both; }

.right_menu { position: fixed; width: 2.4%; bottom: 100px; right: 0.2%; }
.right_menu div { border-width: 1px; border-style: solid; }
.right_menu ul, .right_menu li { list-style: none; padding: 0; margin: 0; }
.right_menu li { border-bottom-width: 1px; border-bottom-style: solid; }
.right_menu li a { display: block; text-indent: -9999px; height: 40px; }
.right_menu li a:hover { opacity: 0.7; }
.right_menu .online_cart { background: url("../images/cartbtn.png") no-repeat 40% center; background-size: 70%; }
.right_menu .online_contact { background: url("../images/earphone.png") no-repeat center center; background-size: 50%; }
.right_menu .online_top { background: url("../images/totop.png") no-repeat center center; background-size: 60%; }

/* header style */
.header {
	width: 100%;
	min-width: 1280px;
}
.header .top_header {
	height: 36px;
	padding: 0 3%;
	color: white;
	font-size: 14px;
	min-width: 1000px;
}
.header .top_header .leftarea {
	float: left;
	width: 400px;
	padding: 9px 0 2px 0;
}
.header .top_header .rightarea {
	float: right;
	width: 400px;
	text-align: right;
	padding: 9px 0 2px 0;
}
.top_header .leftarea a, .top_header .rightarea a {
	font-size: 15px;
	color: white;
	letter-spacing: 0.5px;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
}
.top_header .leftarea a:first-child {
	margin-left: 0px;
}
.top_header .rightarea a:last-child {
	margin-right: 0px;
}
.top_header .leftarea a:hover, .top_header .leftarea a.selected {
	text-decoration: none;
	color: #fdff3f;
}
.top_header .rightarea a:hover, .top_header .rightarea a.selected {
	text-decoration: none;
	color: #fdff3f;
}
.header .m_header {
	padding: 0 3%;
	margin-top: 21px;
	margin-bottom: 15px;
}
.header .m_header .logo {
	float: left;
	width: 30%;
}
.m_header .logo a img {
	border: none;
	width: 82%;
	margin-left: 6%;
}
.header .m_header .searchbar {
	float: left;
	width: 48%;
	margin-top: 15px;
}
.header .m_header .cartarea {
	float: right;
	width: 15%;
	margin-top: 32px;
	position: relative;
}
.header .m_header .searchinput {
	width: 100%;
	height: 60px;
	border-radius: 30px;
}
.header .searchinput .l_area {
	float: left;
	width: 82%;
}
.header .searchinput .searchbtn {
	float: left;
	width: 18%;
	height: 60px;
	background: url("../images/searchbtn.png") no-repeat center center;
}
.searchinput .searchbtn a {
	text-decoration: none;
	display: block;
	text-indent: -9999px;
	height: 100%;
}
.searchinput .l_area .s_bg {
	margin-left: 30px;
	background: white;
	height: 60px;
}
.searchinput .l_area .s_bg div {
	border-width: 3px;
	border-style: solid;
	margin-left: 2px;
	margin-right: 2px;
	overflow: hidden;
	height: 54px;
}
.searchinput .l_area input {
	font-size: 19px;
	padding: 16px 15px 16px 10px;
	color: #232323;
	width: 96%;
	border: none;
}
.header .searchbar .searchkeys {
	margin-top: 5px;
	font-size: 15px;
	color: #555555;
	margin-left: 31px;
	letter-spacing: 0.5px;
	height: 20px;
	overflow: hidden;
}
.searchbar .searchkeys a {
	text-decoration: none;
	font-size: 14px;
	color: #555555;
}
.searchbar .searchkeys a:hover {
	color: #232323;
}
.header .cartarea .cartbtn {
	height: 50px;
	border-width: 1px;
	border-style: solid;
	width: 150px;
	margin-left: 20px;
	background-image: url("../images/cart.png");
	background-position: 6px center;
	background-repeat: no-repeat;
}
.header .cartarea .cartbtn a {
	display: block;
	padding: 14px 2px 14px 80px;
	text-decoration: none;
	color: #111111;
	font-size: 19px;
}
.header .cartarea .cartbtn a:hover {
	opacity: 0.8;
	-webkit-transition: opacity 500ms;
	-moz-transition:    opacity 500ms;
	-o-transition:      opacity 500ms;
	transition:         opacity 500ms;
}
.header .cartarea .cartnum {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 13px;
	top: -19px;
	left: 46px;
	font-size: 20px;
	text-align: center;
	background: #ff0e61;
	color: white;
}
.header .cartarea .carttext {
	color: #232323;
	font-size: 15px;
	padding-top: 4px;
	margin-left: 20px;
	text-align: center;
	width: 160px;
}
.header .cartarea .carttext span {
	color: #ff0e61;
	font-size: 18px;
}

/* Menu Style */
.header .nav {
	border-bottom-width: 6px;
	border-bottom-style: solid;
	padding: 0 3%;
}
.header .nav .nav_wrap {
	position: relative;
}
.nav .main_navwrap {
	margin-left: 274px;
}
.header .nav .main_nav {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 67%;
}
.nav .main_nav li {
	list-style: none;
	float: left;
	text-align: center;
	width: 20%;
}
.nav .main_nav li a {
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	display: block;
	padding: 9px 0;
	border-right: 1px solid white;
}
.nav .main_nav > li a:hover, .nav .main_nav > li a.selected {
	background: #ff0e61;
}
.nav .sub_nav {
	background: white;
	width: 274px;
	position: absolute;
	/*left: 0px;*/
	top: -5px;
	z-index: 999;
}
.nav .over_sub_nav {
	position: fixed !important;
	top: 0 !important;
	/*left: 3%;*/
}
.nav .sub_nav h3 {
	margin: 0 2px;
	padding: 14px 30px;
	font-size: 21px;
	color: white;
}
.nav .sub_nav > ul {
	list-style: none;
	padding: 0;
	margin: 0 2px;
	border-width: 2px;
	border-style: solid;
	background: #fff2f6;
	position: relative;
}
.nav .sub_nav > ul > li {
	padding: 23px 0;
	margin: 0 5% 0 5%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background: url("../images/arrow.png") no-repeat right center;
	z-index: 999;
}
.no_popup h3 { background-image:url("../images/sub_navbg.png"); background-repeat:no-repeat; background-position:95% center; cursor:pointer; }
.no_popup > ul { display:none; }
.nav .sub_nav > ul > li:hover {
	padding: 22px 5%;
	margin: 0;
	margin-top: -1px;
	border-width: 2px;
	width: 242px;
	border-style: solid none solid none;
	background: url("../images/arrow.png") no-repeat 94.6% center white;
}
.nav .sub_nav > ul > li:first-child {
	padding-top: 22px;
}
.nav .sub_nav > ul > li:last-child {
	border-bottom: none;
	padding-bottom: 22px;
}
.nav .sub_nav > ul > li:first-child:hover {
	border-top: none;
	margin-top: 0;
}
.nav .sub_nav > ul > li .cat_img {
	float: left;
	width: 40px;
	height: 30px;
}
.nav .sub_nav > ul > li .cat_img a img {
	border: none;
}
.nav .sub_nav > ul > li .cat_title {
	float: left;
	width: 150px;
	margin-top: 4px;
}
.nav .sub_nav > ul > li .cat_title a {
	font-size: 18px;
	color: #222222;
	font-weight: bold;
	text-decoration: none;
}
.nav .sub_nav > ul > li .cat_title a:hover {
	text-decoration: none;
}
.nav .sub_nav ul > li .cat_desc {
	font-size: 14px;
	color: #555555;
	padding: 1px 10px 1px 22px;
	width: 200px;
}
.nav .sub_nav .sub_cats {
	position: absolute;
	top: -2px;
	left: 268px;
	background: white;
	border-width: 2px;
	border-style: solid solid solid none;
	height: 100%;
	/* box-shadow: 3px 4px 6px #AAAAAA; */
	display: none;
	z-index: 999;
    overflow: hidden;
}
.nav .sub_nav > ul > li:hover .sub_cats {
	display: block;
}
.sub_nav .sub_cats h3 {
	width: 300px;
	margin: 15px 30px;
	padding: 2px 7px 2px 7px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: 17px;
	color: #232323;
}
.sub_nav .sub_cats div {
	margin: 6px 30px;
	margin-bottom: 13px;
	clear: both;
}
.sub_cats div ul, .sub_cats div li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sub_cats div h4 {
	margin: 7px 0;
	padding: 0;
}
.sub_cats div h4 a {
	text-decoration: none;
}
.sub_cats div h4 a:hover {
	text-decoration: underline;
}
.sub_cats div li {
	float: left;
	padding: 2px 19px 7px 0;
    word-wrap: break-word;
}
.sub_cats div.brand ul {
    margin-left: 12px;
}
.sub_cats div.brand li {
    padding: 5px 7px 7px 0;
}
.sub_cats div li a {
	text-decoration: none;
	color: #232323;
	font-size: 15px;
}
.sub_cats div li a:hover {
	text-decoration: underline;
    opacity: 0.9;
}
.nav .menu_spacing {
	font-size: 18px;
	padding: 9px 0;
	background: white;
	width: 0.7%;
	float: left;
}

/* Wrap Style */
.wrap { padding:0 3%; }
.wrapcon { margin:2px 0px 0 274px; }
.banner .slide { float:left; width:67%; }
.banner .slide img { width:100%; padding:0; margin:0; }
.banner .top_contact {
	float: right;
	width: 32.3%;
	padding: 0;
	margin: 0;
	margin-top: -4px;
}
.banner .top_contact > div {
	border-width: 2px;
	border-style: solid;
	height: 446px;
}
.top_contact #special_adv {
	width: 100%;
	margin-top: 2px;
}
.top_contact .contact_detail {
	width: 84%;
	margin: 35px auto;
	text-align: center;
}
.contact_detail p {
	font-size: 19px;
}
.contact_detail .ph_detail {
	padding-left: 74px;
	padding-top: 3px;
	background: url("../images/phone1.png") no-repeat left top;
	font-size: 45px;
	font-weight: bold;
	line-height: 37px;
	text-align: left;
}
.contact_detail .ph_detail span {
	font-size: 21px;
	display: block;
	color: #232323;
	margin-left: 5px;
}
.contact_detail .xian {
	margin-top: 20px;
	display: inline-block;
	border-radius: 25px;
	border-width: 1px;
	border-style: solid;
	padding: 7px 80px 7px 14px;
	font-size: 30px;
	font-weight: bold;
	position: relative;
}
.contact_detail .xian span {
	position: absolute;
	right: 17px;
	top: -17px;
}
.wrap .content {
	width: 73%;
	float: left;
	margin-top: 10px;
}
.wrap .sidebar {
	float: right;
	width: 26%;
	margin-top: 10px;
}
.content_wrap {
	width: 100%;
	min-width: 1280px;
}

/* top product */
.top_product { border-width:3px; border-style:solid; margin-bottom:20px; }
.top_product h5 { margin:0; padding:4px 10px 7px 15px;	font-size:20px; color:white; font-weight:bold; }
.top_product .p_desc { padding:20px 29px; font-size:28px; letter-spacing:1px; margin:0; }
.top_product .p_desc a { text-decoration:none; font-size:28px; color:#232323; }

.top_product .detail { float:left; width:50%; margin-left:-4px; margin-top:14px; }
.top_product .detail .price { border-radius:0 40px 40px 0; height:70px; width:65%; }
.top_product .detail .price span { float:left; color:white; font-size:37px; display:inline-block; margin-top:15px; margin-left:17px; letter-spacing:1px; }
.top_product .detail .price a.view_btn { float:right; margin-right:20px; margin-top:8px; background:url("../images/view.png") no-repeat left top; width:108px; text-align:center; font-size:27px; color:#232323; font-weight:bold; text-decoration:none; padding:10px 0; font-family:"Microsoft YaHei UI"; }
.top_product .detail .price input.view_btn { float:right; margin-right:20px; margin-top:8px; background:url("../images/view.png") no-repeat left top; width:108px; text-align:center; font-size:27px; color:#232323; border:none; font-weight:bold; text-decoration:none; padding:9px 0; cursor:pointer; font-family:"Microsoft YaHei UI"; }
.top_product .detail .subdetail { width:55%; background:#ffe2ec; border-width:2px; border-style:solid; border-top:none; margin-left:1px; min-height:30px; margin-bottom:10px; }
.p_price { margin:0px 12px; margin-top:0; padding:12px 10px 25px 10px; border-bottom-width:1px; border-bottom-style:solid; min-height:37px; }
.p_option { margin:0px 12px; padding:8px 0; padding-bottom:5px; border-bottom-width:1px; border-bottom-style:solid; min-height:37px; }
.p_option div { margin:7px; font-size:16px; color:#232323; line-height:33px; }
.p_option div a { padding:3px 7px; text-decoration:none; text-align:center; background:#fff2f6; border:1px solid #d84c7c; color:#232323; }
.p_option div a:hover, .p_option div a.selected { text-decoration:none; border:1px solid red; background:#ffc5d9; color:black; }
.p_price div { width:33%; float:left; text-align:center; font-size:16px; color:#232323; line-height:26px; }
.p_price div span { font-size:14px; font-weight:bold; font-size:17px; }
.yuan_price { color:#444444; text-decoration:line-through; font-size:15px !important; }
.p_time { margin:9px 12px; padding:6px 10px 15px 37px; text-align:left; border-bottom-width:1px; border-bottom-style:solid; background:url("../images/time.png") no-repeat 11px 5px; font-size:14px; color:#232323; }
.p_time div { font-weight:normal; font-size:15px; color:#232323; margin-top:10px; margin-left:14%; letter-spacing:1px; }
.p_time span { font-weight:bold; font-size:20px; color:#222222; }
.detail .p_goucount { padding:4px 20px; padding-bottom:8px; font-size:22px; font-weight:bold; text-align:center; margin-right:10px; color:#232323; }
.detail .p_goutext { text-align:right; padding:12px 20px; padding-top:0; font-size:12px; color:#232323; }
.detail .p_goutext span { font-weight:bold; font-size:17px; color:#232323; }
.top_product .p_thumb { width:50%; float:left; margin-bottom:35px; }
.top_product .p_thumb a:hover { opacity:0.9; }
.top_product .p_thumb img { border:none; margin-bottom:10px; width:100%; }
.top_product .p_thumb_wrap { width:90%; }
#product_gallery { position:relative; overflow:hidden; }
#product_gallery img { width:100%; }
#product_gallery a { display:inline-block; margin-right:1%; width:23%; height:70px; overflow:hidden; margin-bottom:8px; opacity:0.8; }
#product_gallery a:hover, #product_gallery a.active { opacity:1; }
.detail .sub_desc { padding:20px 10%; font-size:22px; letter-spacing:1px; color:#353535; line-height:30px; margin-bottom:35px; }

.geng_wrap {
	text-align: right;
	margin-top: 5px;
	padding-right: 10px;
}
.geng_wrap .gengduo {
	font-size: 15px;
	text-decoration: none;
}
.geng_wrap .gengduo:hover {
	text-decoration: underline;
}

/* sidebar */
.sidebar .side {
	border-width: 1px;
	border-style: solid;
	margin-bottom: 16px;
}
.sidebar .side a.adver img {
	width: 100%;
	border: none;
}
.sidebar .side h3 {
	background: url("../images/side_hbg.png") no-repeat left top;
	padding: 0 10px 1px 30px;
	margin: 13px 5%;
	margin-bottom: 0;
	border-bottom-width: 1px;
	letter-spacing: 1px;
	border-bottom-style: dotted;
	font-size: 20px;
}
.side .pingrun {
	margin: 11px 5%;
	padding: 15px 10px;
	font-size: 14px;
	color: #232323;
	line-height: 22px;
	background: #FFE2EC;
}
.side .pingrun span {
	font-size:22px;
	font-family: Verdana;
}
.side .pingrun a {
	text-decoration: none;
}
.side .pingrun a:hover {
	text-decoration: underline;
}
.side .gengduo {
	margin: 3px 10px 13px 28px;
}
.side .gengduo a {
	text-decoration: none;
	font-size: 15px;
}
.side .s_con {
	margin: 12px 5%;
}
.side .s_con img {
	width: 100%;
}
.side .s_con ul {
	margin: 12px 16px;
	padding: 0;
	list-style: none;
}
.side .s_con ul li {
	padding: 0 0 4px 16px;
	background: url("../images/arrow2.png") no-repeat left 7px;
}
.s_con ul li a {
	text-decoration: none;
	color: #232323;
	font-size: 14px;
}
.s_con ul li a:hover {
	text-decoration: underline;
	color: #c70045;
}
.side .ping {
	color: #232323;
	font-size: 15px;
	line-height: 22px;
	margin: 12px 5%;
	letter-spacing: 1px;
}
.side .ping a {
	text-decoration: none;
	display: table;
	font-size: 15px;
	margin-top: 4px;
}

/* footer */
.footer {
	width: 100%;
	border-top-width: 4px;
	border-top-style: solid;
	margin-top: 28px;
	text-align: center;
	min-width: 1280px;
}
.footer .footer_nav {
	padding: 18px 0;
	background: #ffdee9;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.footer .footer_nav > div > ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer .footer_nav > div > ul > li {
	width: 19%;
    display:inline-block;
}

.footer .footer_nav h4 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 18px;
}
.footer .sub_fmenu {
	text-align: center;
	padding-top: 15px;
	border-left-width: 1px;
	border-left-style: solid;
}
.footer .footer_nav .last {
	text-align: center;
	padding-top: 15px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}
.footer .sub_fmenu ul {
	display: inline-block;
	padding: 0;
	margin: 0 auto;
}
.footer .sub_fmenu li {
	text-align: left;
	padding-top: 5px;
}
.footer .sub_fmenu li a {
	font-size: 15px;
	color: #232323;
	text-decoration: none;
}
.footer .sub_fmenu li a:hover {
	text-decoration: underline;
}
.footer_nav > div {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}
.footer .footer_outlinks {
	display: inline-block;
	margin: 13px auto;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color: #555555;
}
.footer .footer_outlinks strong {
	font-size: 14px;
	color: #232323;
}
.footer .footer_outlinks a {
	text-decoration: none;
	font-size: 14px;
	color: #232323;
}
.footer .footer_outlinks a.gengduo {
	color: #C70045;
}
.footer .footer_outlinks a:hover {
	text-decoration: underline;
	opacity: 0.8;
	-webkit-transition: opacity 300ms;
	-moz-transition:    opacity 300ms;
	-o-transition:      opacity 300ms;
	transition:         opacity 300ms;
}
.footer .footer_outlinks a img {
	border: 1px solid #FF98BC;
}

/* Product List */
.products { width:100%; margin:0; padding:0; }
.products .item .item_wrap { border:1px solid #ffdbe8; }
.products .item .product_image { padding:3px; }
.products .item .product_image a {
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
		 -o-transition: all 0.2s linear 0s;
		    transition: all 0.2s linear 0s;
}
.products .item .product_image a img { width:100%; border:none; }
.products .item .product_image a:hover { opacity:0.9; }
.products .item .product_title { padding:3px 7px; font-size:16px; letter-spacing:1px; color:#232323; margin-top:5px; }
.products .item .product_title a { text-decoration:none; font-size:15px; color:#232323; }
.products .item .product_title a:hover { text-decoration:underline; }
.products .item .product_detail { border-width:1px; border-style:solid none solid none; border-color:#ffdbe8; margin-top:10px; }
.products .item .product_detail .p1_price { float:left; width:50%; height:50px; border-radius:0 30px 30px 0; background:#ff2370; font-family:"Microsoft YaHei UI"; }
.product_detail .p1_price span { display:block; float:left; margin-top:11px; margin-left:4px; color:white; font-size:19px; font-weight:bold; letter-spacing:-1px; }
.product_detail .p1_price a.view_btn { float:right; margin-right:7px; width:71px; background:url("../images/view1.png") no-repeat left top;
	background-size:100%; text-decoration:none; display:block; color:#232323; font-size:16px; text-align:center; margin-top:7px;
	padding:8px 0; font-weight:bold;
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
		 -o-transition: all 0.2s linear 0s;
		    transition: all 0.2s linear 0s;
}
.product_detail .p1_price a.view_btn:hover { opacity:0.9; }
.product_detail .p2_price { float:right; width:49%; }
.product_detail .p2_price table { text-align:center; width:100%; margin-top:4px; }
.product_detail .p2_price td { color:#232323; font-size:13px; vertical-align:middle; height:22px; font-family:"微软雅黑"; }
.product_detail .p2_price td.origin { color:#444444; font-weight:bold; text-decoration:line-through; }
.item_wrap .product_goucount { background:url("../images/p_bg.png") repeat-y left top; background-size:100%; text-align:right; padding:2px 10px; color:#555555; font-size:12px; }
.item_wrap .product_goucount span { font-size:18px; letter-spacing:1px; }

/* Category Page */
.category .category_title { color: #FFFFFF; font-size: 21px; font-weight: bold; margin: 0 1px 0 2px; padding: 4px 10px 7px 15px; background: #ff0e61; }
.category {	float: left; width: 75%; margin-left: 1px; margin-top: 10px; }
.cat_side {	width: 24.5% !important; }
.side_curpros { margin: 10px 5%; }
.side_curpros .item { width: 100%; color: #232323; font-size: 15px; margin-bottom: 15px; }
.side_curpros .item a.item_img { text-decoration: none; display: block;	padding: 10px 10%; text-align:center; border-width: 1px; border-style: solid; margin-bottom: 7px; }
.side_curpros .item a img { border: none; width: 100%; }
.side_curpros .item a.item_title { text-decoration: none; font-size: 16px; color: #ff2370; }
.side_curpros .item a.item_title:hover { text-decoration: underline; }
.side_curpros .item a:hover { opacity: 0.9; }
.side_curpros .item span { font-size: 21px; line-height: 30px; letter-spacing: 0.5px; font-family: "Microsoft YaHei UI"; color: #ff2370; }

/* Already Page */
.already .category_title { color: #FFFFFF; font-size: 21px; font-weight: bold; margin: 0 1px 0 2px; padding: 4px 10px 7px 15px; background: #AAAAAA; }
.already { float: left; width: 75%;	margin-left: 1px; margin-top: 10px; }
.already .products .p1_price { background: #AAAAAA !important; }
.already .p1_price a.view_btn { background: url("../images/view2.png") no-repeat left top !important; background-size: 100% !important; }
.already .item_wrap .product_goucount {	background: url("../images/p_bg1.png") repeat-y left top !important; background-size: 100% !important; }
.already .products .item .item_wrap { border: 1px solid #e6e5e5 !important; }

/* Product Page */
.top_product h1 { margin:30px 25px 0 25px; padding:0; font-size:38px; font-weight:bold; overflow:hidden; font-family:"Microsoft YaHei UI"; height:67px; background:url("../images/pro_title.png") no-repeat left bottom; letter-spacing:5px; }
.related_products { border-width:2px; border-style:solid; margin-bottom:20px; }
.related_products h4 { background:#ff2370; margin:0; padding:6px 10px 6px 30px; font-size:30px; font-family:"SimSun"; color:white; letter-spacing:2px; border-bottom-width:2px; border-bottom-style:solid; }
.related_products .product_title { text-align:center !important; padding:6px 5px 5px 5px !important; border-bottom:1px solid #FFDBE8; }
.related_products .product_title a { display:inline !important; }
.related_products .item .product_detail { background:#ff9bbe; }
.related_products .p1_price { text-align:center !important; width:55% !important; }
.related_products .p2_price { width:44% !important; }
.related_products .p1_price span { font-size:27px !important; margin:6px 8px 0 0 !important; float:none !important; }
.product_detail .p2_price a.view_btn { float:right; margin-right:20%; width:71px; background:url("../images/view1.png") no-repeat left top;
    background-size:100%; text-decoration:none; display:block; color:#232323; font-size:16px; text-align:center; margin-top:7px; padding:9px 0; font-weight:bold;
    -webkit-transition: all 0.2s linear 0s;
       -moz-transition: all 0.2s linear 0s;
         -o-transition: all 0.2s linear 0s;
            transition: all 0.2s linear 0s;
}
.related_products .product_image { padding:5px !important; }
.more_detail { border-width:2px; border-style:solid; margin-bottom:20px; }
.more_detail .more_header { background:#ff2370; margin:0; padding:0; border-bottom-width:2px; border-bottom-style:solid; }
.more_header ul, .more_header li { margin:0; padding:0; list-style:none; }
.more_header li { border-right-width:1px; border-right-style:solid; float:left; text-align:center; }
.more_header li a { display:block; padding:7px 25px;  text-decoration:none; font-size:30px; color:white; letter-spacing:1px; text-align:center; }
.more_header li a:hover { text-decoration:none; opacity:0.8; }
.more_detail .sub_more { margin:20px 18px; }
.more_detail .sub_more h3 { font-size:32px; margin:0; padding:2px 5px; letter-spacing:1px; border-bottom-width:3px; border-bottom-style:solid; }
.more_detail .sub_more table { border-collapse:collapse; width:100%; margin-top:13px; }
.more_detail .sub_more td { font-size:15px; color:#232323; vertical-align:middle; line-height:28px; padding:9px; border-width:1px; border-style:solid; }
.more_detail .sub_more td strong { font-size:15px; letter-spacing:1px; }
.more_detail .sub_more img { width:100%; margin-top:13px; }
.spec_border, .spec_border h4 { border-width:1px !important; }
.spec_border div { text-align:center; margin:15px; color:#c80448; font-size:20px; }
.spec_border div a { text-decoration:none; color:#c80448; font-size:19px; letter-spacing:0.5px; font-weight:bold; }
.spec_border div a:hover { text-decoration:underline; }

/* Cart Page */
.cartpage { margin-top:14px; }
.cartpage .cartheader { width:650px; background:#ff2370; border-width:1px; border-style:solid; padding:10px 15px; padding-top:11px; }
.cartpage .cartheader td { font-size:22px; color:#ffc8db; letter-spacing:0.5px; text-align:center; font-weight:bold; }
.cartpage .cartheader td.selected { color:white; font-size:23px; }
.cartpage .cartheader td img { float:left; }
.cartpage .cart_wrap { margin-top:-43px; min-height:350px; }
.cartpage .carttitle { text-align:right; font-size:33px; font-weight:bold; padding:3px 15px; border-bottom-width:2px; border-bottom-style:solid; }
.cartpage .cart_wrap thead, .cartpage .cart_wrap table { border-collapse:collapse; }
.cartpage .cart_wrap thead td { text-align:center; background:#ffedf3; color:#232323; font-size:17px; vertical-align:middle; font-weight:bold; }
.cartpage .cart_wrap td { border:1px solid #ff98bc; padding:6px; vertical-align:middle; font-size:16px; color:#232323; }
.cartpage .cart_wrap td a { }
.cart_wrap .qty_wrap { width:90%; height:30px; }
.cart_wrap .qty_wrap .minus_btn { margin-left:2%; }
.cart_wrap a:hover { opacity:0.9; }
.cart_wrap .qty_wrap .minus_btn, .cart_wrap .qty_wrap .plus_btn { width:20%; height:25px; background:white; font-weight:bold; border:1px solid #ff98bc; float:left; cursor:pointer; margin-top:4px; }
.cart_wrap .qty_wrap .qty_input { margin-left:3%; margin-right:3%; width:50%; height:30px; border:1px solid #ff98bc; color:#232323; float:left; font-weight:bold; font-size:16px; text-align:center; }
.cart_wrap .cart_delbtn { font-size:16px; text-decoration:underline; }
.cart_wrap .coupon_wrap { padding:10px 15px; text-align:right; line-height:31px; }
.coupon_wrap .coupontext { width:250px; height:31px; border:1px solid #ff98bc; font-size:16px; padding-left:5px; padding-right:5px; }
.coupon_wrap .cart_btn { background:url("../images/btn_arrow2.png") no-repeat 90% center #ff0e61; text-align:center; padding:4px 25px 4px 12px; border-radius:7px; border:1px solid #ff0e61; font-size:18px; color:white; cursor:pointer; margin-left:6px; font-weight:bold; }
.coupon_wrap { color:#232323; font-size:18px; }
.coupon_wrap span { font-size:20px; font-weight:bold; }
.cart_submit_wrap { padding:10px 0; text-align:right; }
.cart_submit_wrap .main_cartbtn { background:url("../images/btn_arrow1.png") no-repeat 90% center #ff0e61; display:inline-block; text-align:center; padding:6px 44px 6px 15px; border-radius:8px; border:1px solid #ff0e61; font-size:27px; color:white; cursor:pointer; font-weight:bold; }
.cart_wrap .cart_btn:hover, .cart_wrap .main_cartbtn:hover { 
    -webkit-transition: all 0.3s linear 0s;
       -moz-transition: all 0.3s linear 0s;
         -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
    opacity:0.9; 
}

/* login page */
.loginpage { margin-top:14px; min-height:350px; }
.loginpage .login_wrap { margin:0 auto; width:70%; border-width:2px 1px 1px 1px; border-style:solid; }
.login_wrap .login_title { border-bottom-width:1px; border-bottom-style:solid; padding:15px 5%; }
.login_title h2 { float:left; margin:0; padding:0; margin-top:5px; letter-spacing:1px; font-size:33px; color:#232323; }
.login_title .register_btn { float:right; margin-top:15px; display:block; padding:6px 15px 6px 42px; background-image:url("../images/btn_arrow.png"); text-decoration:none; color:white; font-size:20px; border-radius:7px; background-repeat:no-repeat; background-position:16px center; }
.login_title .register_btn:hover { opacity:0.9; }
.login_wrap .login_content { padding:15px; }
.login_content td { font-size:16px; color:#232323; vertical-align:top; line-height:37px; padding:4px 0; }
.login_content strong { font-size:18px; color:#232323; letter-spacing:1px; line-height:32px; }
.login_content .login_input { width:91%; border-width:1px; border-style:solid; padding:5px 10px; font-size:17px; color:#232323; }
.login_content .wangji { text-decoration:underline; font-size:17px; }
.login_content .wangji:hover { text-decoration:underline; }
.confirm_btn { border-width:2px; border-style:solid; text-decoration:none; text-align:center; padding:4px 17px; letter-spacing:1px; font-size:18px; background:url("../images/login_btnbg.png") repeat-x left top; cursor:pointer; margin-top:10px; }
.confirm_btn:hover { opacity:0.9; }
.login_content p { padding:0; margin:0; }

/* Checkout Page */
.checkout_wrap { margin-top:2px; border-width:2px 1px 1px 1px; border-style:solid; min-height:350px; }
.checkout_wrap * { font-family:"SimSun"; }
.checkout_wrap .checkout_head { padding:6px 15px; background:#ffedf3; font-size:21px; color:#111111; letter-spacing:1px; border-width:1px; border-style:solid none solid none; font-weight:bold; }
.checkout_wrap .checkout_content { padding:15px; }
.checkout_wrap .checkout_content h2 { padding:10px; font-size:27px; letter-spacing:1px; }
.checkout_wrap .checkout_address { width:90%; margin:0 auto; }
.checkout_content .checkout_address td { padding:8px 2px; font-size:20px; color:#232323; vertical-align:top; }
.checkout_content .checkout_address td span { font-size:18px; letter-spacing:1px; }
.checkout_content .checkout_address td label { letter-spacing:1px; }
.checkout_content .checkout_address td input { font-size:19px; color:#232323; padding:5px 10px; border-width:1px; border-style:solid; }
.checkout_content textarea { border-width:1px; border-style:solid; }
.checkout_content .checkout_address td select { width:200px; font-size:19px; color:#232323; border-width:1px; border-style:solid; padding:2px 0 2px 7px; font-family:"SimSun"; }
.checkout_content .checkout_pros { width:100%; border-left:1px solid #EEEEEE; border-right:1px solid #EEEEEE; border-collapse:collapse; }
.checkout_content .checkout_pros thead td, .checkout_pros tfoot td { background:#EEEEEE; letter-spacing:1px; border-right:1px solid white; border-left:1px solid white; font-weight:bold; }
.checkout_content .checkout_pros thead td:first-child, .checkout_pros tfoot td:first-child { border-left:none; }
.checkout_content .checkout_pros thead td:last-child, .checkout_pros tfoot td:last-child { border-right:none; }
.checkout_content .checkout_pros td { padding:6px 13px; color:#232323; font-size:19px; }
.checkout_content .checkout_pros td a { font-weight:bold; color:#232323; text-decoration:none; }
.checkout_content .checkout_pros td a:hover { text-decoration:none; }
.checkout_content .checkout_pros td strong { font-size:20px; }
.checkout_content .checkout_pros td span { font-size:20px; }
.checkout_content .checkout_shipping { width:88%; margin:4px 3%; }
.checkout_content .checkout_shipping td { padding:6px; font-size:19px; color:#232323; }
.checkout_content .checkout_shipping td label { font-weight:bold; }
.checkout_content .checkout_payment { margin:4px 3%; font-size:19px; color:#232323; }
.checkout_content .checkout_payment label { font-weight:bold; }
.checkout_content .checkout_payment p { margin:5px 5px 5px 25px; }
.checkout_content textarea { width:94%; margin:5px 3%; min-height:80px; }
.checkout_wrap .alert { font-size:16px; margin-top:10px; margin-bottom:0; width:55%; }
.checkout_wrap .alert p { padding:8px; padding-bottom:0; }
.login_content .alert { font-size:16px; margin-top:10px; margin-bottom:0; width:100%; }

/* profile page */
.profile_menu { float:left; width:274px; margin-left:1px; }
.profilepage { margin-top:10px; border-width:1px; border-style:solid; min-height:350px; }
.profile_content { float:left; width:70%; }
.profile_sidebar { float:left; width:30%; }
.profile_content h2 { margin:0 4%; letter-spacing:1px; padding:25px 12px 15px; font-size:32px; color:#232323; border-bottom:1px solid #ff98bc; }
.profile_content .addr_wrap { margin:30px 4% 20px; }
.profile_content .addr_wrap table { width:100%; }
.profile_content .addr_wrap td { padding:7px 0; }
.profile_content .profile_input { border:1px solid #ff98bc; font-size:18px; padding:3px 5px; }
.profile_content .addr_wrap td select { border:1px solid #ff98bc; font-size:18px; }
.profile_sidebar .sidebar_info { margin:0 9%; padding:16px 0; }
.profile_sidebar .sidebar_info td { padding:6px 0; font-size:17px; color:#232323; vertical-align:middle; }
.sidebar_info td strong { font-size:35px; display:block; margin:6px 0 10px; }
.sidebar_info td a { font-size:17px; text-decoration:none; }
.sidebar_info td.customer_img img { width:100%; }
.sidebar_info td a:hover { text-decoration:underline; opacity:0.9; }
.sidebar_info .profile_tip { margin:15px 0; padding:15px 0; border-width:1px; border-style:dotted none dotted none; }
.sidebar_info .profile_tip h4 { margin:5px 0; padding:0; font-size:21px; color:#232323; }
.sidebar_info .profile_tip p { font-size:17px; color:#232323; margin-top:12px; line-height:26px; }
.profile_sidebar .profile_sidebarwrap { border-left-style:solid; border-left-width:1px; margin-top:0; }
.profile_menu ul { list-style:none; padding:0; margin:0; width:96%; float:right; }
.profile_menu li { list-style:none; padding:0; margin:0; margin-top:15px; width:100%; }
.profile_menu li a { text-decoration:none; text-align:center; display:block; border-width:1px; border-style:solid; border-radius:6px 0 0 6px; background:#ffd2e2; color:#232323; font-size:25px; font-weight:bold; letter-spacing:1px; padding:15px 5px; }
.profile_menu li a:hover, .profile_menu li a.selected { background:white; border-right:none; }

/* success page */
.successpage { float:left; width:73% !important; }
.success_info { padding:10px 1px; border-bottom-width:1px; border-bottom-style:solid; }
.success_info h4 { color:#ff0e61; font-size:24px; letter-spacing:1px; margin:0; padding:0; margin-bottom:10px; }
.success_info p { font-size:18px; color:#232323; margin:0; padding:0; }
.order_number { font-size:19px; margin-left:20px; }
.order_number span { font-weight:bold; }
.order_number a { color:#232323; text-decoration:none; }
.order_number a:hover { text-decoration:underline; opacity:0.9; }

/* CMS page (contact us)*/
.cms_menu { float:left; width:271px; margin-left:2px; border-width:1px; border-style:solid none solid solid; background:#fff5f5; }
.cms_menu h2 { font-size:29px; margin:7px 15px; padding:20px 0 8px 10px; border-top-width:1px; border-top-style:solid; }
.cms_menu h2:first-child { border:none !important; margin-top:0px !important; }
.cms_menu ul { margin:0; padding:0; list-style:none; }
.cms_menu li { margin:0 0 0 20px; padding:10px; list-style:none; }
.cms_menu li a { text-decoration:none; color:#232323; font-size:24px; }
.cms_menu li a:hover { color:#C70045; text-decoration:underline; }
.cms_menu li.selected { border-width:1px; border-style:solid none solid solid; background:white; width:231px; }
.cms_page { margin-top:10px; border-width:1px; border-style:solid; min-height:350px; padding:0 3%; }
.cms_page h1, .cms_page h2, .cms_page h3, .cms_page h4
.cms_page h5, .cms_page h6 { color:#232323; letter-spacing:1px; }
.cms_page h1 { font-size:34px; margin:26px 0; }
.cms_page h2 { font-size:30px; margin:24px 0; }
.cms_page h3 { font-size:27px; margin:22px 0; }
.cms_page h4 { font-size:25px; margin:20px 0; }
.cms_page h5 { font-size:22px; margin:18px 0; }
.cms_page h6 { font-size:20px; margin:16px 0; }
.cms_page p { line-height:30px; font-size:18px; color:#232323; margin:14px 0; padding:0; }
.cms_page a { text-decoration:none; color:#C70045; }
.cms_page a:hover { text-decoration:underline; }
.cms_page .cms_post { padding-bottom:15px; border-bottom:1px dotted #FF98BC; }
.cms_page .cms_post .post_time { margin-left:8px; margin-bottom:10px; color:#888888; font-size:18px; }

.system_message { margin-top:7px; }
.system_message .alert .close { top:2px !important; }
.system_message .alert { padding-top:10px !important; padding-bottom:10px !important; margin-bottom:7px !important; }